services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: finance_password
      POSTGRES_USER: finance_user
      POSTGRES_DB: financeapi
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
